<% set_meta_tags title: "ログイン" %>
<div class="container text-muted">
  <div class="row justify-content-center mt-5">
    <div class="col-md-10 col-lg-6">
      <h1 class="mb-5"><i class="fa-solid fa-arrow-right-to-bracket pe-2"></i>ログイン</h1>
      <%= form_with(url: login_path, local: true) do |f| %>
        <div class="form-group">
          <i class="fas fa-envelope"></i>
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: "form-control mb-3 mt-1", placeholder: :email %>
        </div>
        <div class="form-group">
          <i class="fas fa-lock"></i>
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: "form-control mb-3 mt-1", placeholder: :password %>
        </div>
        
        <div class="form-group checkbox-inline">
          <%= check_box_tag :remember, params[:remember], true, style: "max-width: 30px;", class: "mt-2 mb-3"%>
          <%= label_tag :remember, "ログイン状態を保存する" %>
        </div>

        <div class="actions mt-2 mb-3" style="max-width: 100px;">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<p class="text-center mt-3 mb-4" data-turbolinks="false">
  <%= link_to "まだアカウントをお持ちでない方はこちら", new_user_path, class: "login-register" %>
</p>

<p class="text-center mt-3 mb-5" data-turbolinks="false">
  <%= link_to "お試しログイン", guest_sign_in_path, class: "btn btn-danger", method: :post %>
</p>
