<tr data-id="<%= practice_result.sentence_id %>">
  <td class='align-middle'><%= practice_result.created_at.to_s(:datetime_jp) %></td>
  <td class='align-middle'><%= practice_result.score %>点</td>
  <td class='align-middle'><%= Sentence.find(practice_result.sentence_id).content %></td>
  <td class='align-middle'>
    <div>
      <%= link_to '詳細', "/results/#{practice_result.id}", class: 'btn btn-info me-3' %>
      <%= link_to "/results/#{practice_result.id}", method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-danger mt-2 mb-2' do %>
        <i class="far fa-trash-alt"></i> 
      <% end %>
    </div>
  </td>
</tr>