<% set_meta_tags title: "会員登録" %>
<div class="container text-muted">
  <div class="row mt-5">
    <div class="col-lg-7 offset-lg-2">
      <h1 class="mb-5"><i class="fas fa-user pe-2"></i>会員登録</h1>
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_message' %>
        <div class="form-group">
          <i class="fas fa-user"></i>
          <%= f.label :name, "アカウント名" %>
          <%= f.text_field :name, class: "form-control mb-3 mt-1", placeholder: :name %>
        </div>

        <div class="form-group">
          <i class="fas fa-envelope"></i>
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: "form-control mb-3 mt-1", placeholder: :email %>
        </div>

        <div class="form-group">
          <i class="fas fa-lock"></i>
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: "form-control mb-3 mt-1", placeholder: :password %>
        </div>

        <div class="form-group">
          <i class="fas fa-lock"></i>
          <%= f.label :password_confirmation, "パスワード確認" %>
          <%= f.password_field :password_confirmation, class: "form-control mb-3 mt-1", placeholder: '再度パスワードをご入力ください' %>
        </div>

        <div class="actions mt-2 mb-3" style="max-width: 100px;">
          <%= f.submit "登録する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<p class="text-center mt-3 mb-4" data-turbolinks="false">
  <%= link_to "既にアカウントをお持ちの方はこちら", login_path, class: "login-register" %>
</p>

<p class="text-center mt-3 mb-5" data-turbolinks="false">
  <%= link_to "お試しログイン", guest_sign_in_path, class: "btn btn-danger", method: :post %>
</p>

<% if @user.errors.any? %>
  <%= javascript_pack_tag 'users_new' %>
<% end %>