<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "早口言葉選手権", "/", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "遊び方", "/how-to-play"%></li>
        <li><%= link_to "ランキング", "/rank"%></li>
        <li><%= link_to "ログイン", "/login"%></li>
        <li><%= link_to "新規会員登録", "/users/new"%></li>
      </ul>
    </nav>
  </div>
</header>