<% set_meta_tags title: 'ランキング' %>
<div class="container mt-5">
  <h1 class="text-center text-muted mb-5">
    <i class="fa-solid fa-medal mr-2"></i>ランキング
  </h1>
  <div class="row justify-content-center">
    <div class="col-md-9">
      <table class="table table-striped">
        <thead class="thead-primary">
          <tr>
            <th scope="col">順位</th>
            <th scope="col">ユーザー名</th>
            <th scope="col">スコア - アウト</th>
            <th scope="col">日時</th>
          </tr>
        </thead>
        <tbody class="js-filter-items">
          <% @ranks.each do |rank| %>
            <%= render partial: 'rank', locals: {rank: rank} %>
          <% end %>
        </tbody>
      </table>
    <%# ログイン中かつgameのデータが1件以上ある場合、ランキングを表示する %>
    <% if logged_in? %>
      <% if Game.exists?(user_id: current_user.id) %>
        <p>あなたの順位: <% if @myrank.ranking == 1 %><%= image_tag 'f5-1.png', alt: '早口言葉選手権1位', class: 'crown pe-2 pb-2 ps-2' %><% end %><% if @myrank.ranking == 2 %><%= image_tag 'f5-2.png', alt: '早口言葉選手権2位', class: 'crown pe-2 pb-2 ps-2' %><% end %><% if @myrank.ranking == 3 %><%= image_tag 'f5-3.png', alt: '早口言葉選手権3位', class: 'crown pe-2 pb-2 ps-2' %><% end %><%= @myrank.ranking %> 位 / <%= @ranks.count %> 人</p>
      <% end %>
      <p class="mt-3" data-turbolinks="false">
        <%= link_to "マイページはこちら", user_path(current_user) %>
      </p>
    <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'jquery_pagination', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'rank', 'data-turbolinks-track': 'reload' %>