<% set_meta_tags title: "試合ページ" %>

<div class="container text-muted">
  <div class="top-wrapper">
    <%# スタート画面 %>
    <div id="startPage" class="">
      <div class="top-inner-text text-center">
        <button class="btn btn-primary btn-lg" id="startButton">スタート!!</button>
      </div>
    </div>
    <%# ゲーム画面 %>
    <div id="gamePage" class="d-none">
      <div class="top-inner-text text-center">
        <div class="timer-pair">
          <h2 class="text-center mt-3", id="timer">  残り時間: </h2>
          <p class="js-animation" id="jsAnimation"><span style='color:red'>  +5秒</span></p>
        </div>
        <div>
          <h1 class="text-center mt-3", id="sentence">お題</h1>
          <h2 class="text-center mt-2 d-none", id="scoreOut"></h2>
          <h3 class="d-none" id="judge"></h3>
        </div>
        <div>
          <p class="mt-3", id="notice">お題を1回繰り返そう！</p>
        </div>
        <div>
          <h3 class="text-center mt-2", id="scoreTemporary">Score: </h3>
          <h3 class="text-center mt-2", id="outTemporary">  Out: </h3>
          
        </div>

        <div class="mt-4 mb-5">
          <button class="btn btn-primary btn-lg d-none" id="rec">録音する</button>
          <a id="stop" type="hidden"></a>
            <% if logged_in? %>
              <%= form_with model: @game, id: "gameform", local: true do |f| %>
                <%= f.hidden_field :score %>
                <%= f.hidden_field :out %>
                <input type="submit"  id="submit" style="display:none;" >
              <% end %>
              <input type="hidden" id="user" value="<%= current_user.id %>">
            <% end %>
        </div>
        
        <div class="mt-4 mb-5">
          <p id="reading">読み取り結果</p>
        </div>

        <div class="row justify-content-center pt-2">
            <%= link_to "もう一度試合する", request.path_info, id: "restart", class: "col-2 btn btn-primary ms-3 invisible" %>
            <%= link_to "トップページに戻る", root_path, id: "top", class: "col-2 btn btn-primary ms-3 invisible" %>
        </div>
        <div class="d-none" id="twitter"></div>
      </div>
    </div>
  </div>
</div>

<div class="d-none" id="kotoba"></div>
<div class="d-none" id="seido"></div>
<div class="d-none" id="odai"></div>
<div class="d-none" id="gohenkan"></div>

<% @sentences_content.each do |sentence_content| %>
  <input type="hidden" name="sentencesContent" value="<%= sentence_content %>">
<% end %>
<% @sentences_contentFurigana.each do |sentence_contentFurigana| %>
  <input type="hidden" name="sentencesContentFurigana" value="<%= sentence_contentFurigana %>">
<% end %>
<% @sentences_contentMisconversion.each do |sentence_contentMisconversion| %>
  <input type="hidden" name="sentencesContentMisconversion" value="<%= sentence_contentMisconversion %>">
<% end %>

<input type="hidden" id="sentencesSize" value="<%= @sentences.length %>">


<%= javascript_pack_tag 'game', 'data-turbolinks-track': 'reload' %>