<% set_meta_tags title: "練習ページ" %>

<div class="container text-muted">
  <div class='top-wrapper'>
    <div class='top-inner-text text-center', id='button'>
      <div>
        <h1 class="text-center mt-5"><%= @sentence.content %></h1>
      </div>
      <div>
        <p class="mt-3", id="notice">録音ボタンを押して3回繰り返そう！<br>
        <span style= "color: red">※PC・Android端末のChromeブラウザのみの対応です(iOS端末では使えません)</span></p>
      </div>

      <div class="mt-4 mb-5">
        <button class="btn btn-primary btn-lg" id="rec">録音する</button>
        <button class="btn btn-danger btn-lg d-none" id="result">採点する</button>
          <% if logged_in? %>
            <%= form_with model: @practice, id: "voiceform", local: true do |f| %>
              <%= f.hidden_field :score %>
              <%= f.hidden_field :time %>
              <%= f.hidden_field :word %>
              <%= f.hidden_field :sentence_id, :value => @sentence.id %>
              <input type="submit"  id="submit" style="display:none;" >
            <% end %>
            <input type="hidden" id="user" value="<%= current_user.id %>">
          <% end %>
        <h2 class="d-none" id="display"></h2>
        <h3 class="d-none" id="judge"></h3>
        <p class="d-none" id="yourWord"></p>
          <input type="hidden" id="sentence" value="<%= @sentence.content %>">
      </div>

      <section class="tape">
        <div class="sound-clips my-2">
          <audio id="playback" controls></audio>
          <a id ="download" href="#" type="hidden"></a>
          <a id="stop" type="hidden"></a>
        </div>
        <div class="row justify-content-center pt-2">
            <button class = "col-2 btn btn-primary mr-3 invisible" id="play" >再生する</button>
            <%= link_to "リトライ", request.path_info, id: "restart", class: "col-2 btn btn-primary ms-3 invisible" %>
        </div>
        <div class="row justify-content-center pt-2">
            <%= link_to "今すぐ試合する", game_path, id: "game", class: "col-2 btn btn-primary ms-3 invisible" %>
            <%= link_to "練習一覧ページに戻る", practices_path, id: "practices", class: "col-2 btn btn-primary ms-3 invisible" %>
        </div>
        <div class="d-none" id="twitter"></div>
      </section>
    </div>
  </div>
</div>


<div class="d-none" id="kotoba"></div>
<div class="d-none" id="seido"></div>
<div class="d-none" id="startTime"></div>
<div class="d-none" id="endTime"></div>


<%= javascript_pack_tag 'app', 'data-turbolinks-track': 'reload' %>