<% set_meta_tags title: "練習ページ" %>

<div class="container text-muted">
  <div class='top-wrapper'>
    <div class='top-inner-text text-center', id='button'>
      <div>
        <h1 class="text-center mt-5"><%= @sentence.content %></h1>
      </div>
      <div>
        <p class="mt-3", id="notice">録音ボタンを押して3回繰り返そう！</p>
      </div>

      <div class="mt-4 mb-5">
        <button class = "btn btn-primary btn-lg" id="rec">録音する</button>
        <button class = "btn btn-danger btn-lg d-none" id="result">採点する</button>
            <%= form_with url:practices_path(@sentence), id: "voiceform", local: true do |f| %>
              <%= f.hidden_field :target_id, :value => @sentence.id %>
              <%= f.hidden_field :impersonation_voice  %>
              <%= f.hidden_field :score, :value => 0  %>
            <% end %>
      </div>

      <section class="tape">
        <div class="sound-clips my-2">
          <audio id="play" controls></audio>
          <a id ="download" href="#" type="hidden"></a>
          <a id="stop" type="hidden"></a>
        </div>
        <div class="row justify-content-center pt-2">
            <button class = "col-2 btn btn-primary mr-3 invisible" id="playid" >再生する</button>
            <%= link_to "やり直す", request.path_info, id: "restart", class: "col-2 btn btn-primary ms-3 invisible" %>
        </div>
      </section>
    </div>
  </div>
</div>


<a id="sound"></a>
<div id="text"></div>
<div id="speeching"></div>


<%= javascript_pack_tag 'app', 'data-turbolinks-track': 'reload' %>